<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>文章 - 异清轩博客管理系统</title>
  <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_ADMIN ?>css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_ADMIN ?>css/style.css">
  <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_ADMIN ?>css/font-awesome.min.css">
  <link rel="apple-touch-icon-precomposed" href="<?php echo PUBLIC_ADMIN ?>images/icon/icon.png">
  <link rel="shortcut icon" href="<?php echo PUBLIC_ADMIN ?>images/icon/favicon.ico">
  <script src="<?php echo PUBLIC_ADMIN ?>js/jquery-2.1.4.min.js"></script>
</head>
<body class="user-select">
  <section class="container-fluid">
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" class="main">
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
            <li>
              <div class="navbar-form navbar-right" role="group">
                    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                    ><a href="__CONTROLLER__/article">刷新</a></button> 
              </div>
            <form action="__CONTROLLER__/article" method="post" class="navbar-form navbar-right" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" autocomplete="off" placeholder="标题搜索" maxlength="15" name="para">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">搜索</button>
                  </span> </div>
                  
            </form>
         </li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">3</span></h1>

        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th><span class="glyphicon glyphicon-list"></span> <span class="visible-lg">栏目</span></th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-tag"></span> <span class="visible-lg">标签</span>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span><span class="visible-lg">blog</span>
                </th>
                <th class="hidden-sm"><span class="glyphicon glyphicon-comment"></span> <span
                    class="visible-lg">评论</span></th>
                <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
              <volist name="arr" id="vo">
                <tr>
                  <td><input type="checkbox" class="input-control" name="checkbox[]" value="" /></td>
                  <td class="article-title">{$vo.title}</td>
                  <td>{$vo.column}</td>
                  <td class="hidden-sm">{$vo.label}</td>
                  <td><a href="#">查看全文..</a></td>
                  <td class="hidden-sm"><a>{$vo.comments}</a></td>
                  <td>{$vo.datetime}</td>
                  <td class="last_td">
                    <a href="__CONTROLLER__/update_article/id/{$vo.id}">修改</a>
                    <a href="__CONTROLLER__/delete_article/id/{$vo.id}">删除</a>
                  </td>
                </tr>
              </volist>
            </tbody>
          </table>
        </div>
        <footer class="message_footer">
          <nav>
            <div class="btn-toolbar operation" role="toolbar">
              <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a
                  class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default"
                  onClick="noselect()">不选</a> </div>
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                  title="删除全部选中" name="checkbox_delete">删除</button>
              </div>
              <div class="btn-group" role="group">
                  <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                  ><a href="__CONTROLLER__/add_article">增加文章</a></button>
                  
                </div>
            </div>
           
            
            <ul class="pagination pagenav">
              <li class="active">
                {$page}
              </li>
            </ul>
          </nav>
        </footer>
    </div>
    </div>
  </section>
  <!--提示模态框-->
  <div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog"
    aria-labelledby="areDevelopingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
        </div>
        <div class="modal-body"> <img src="<?php echo PUBLIC_ADMIN ?>images/baoman/baoman_01.gif" alt="深思熟虑" />
          <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">
            很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
        </div>
      </div>
    </div>
  </div>
  <!--右键菜单列表-->
  <div id="rightClickMenu">
    <ul class="list-group rightClickMenuList">
      <li class="list-group-item disabled">欢迎访问异清轩博客</li>
      <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
      <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
      <li class="list-group-item"><span>系统：</span>Windows10 </li>
      <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
    </ul>
  </div>
  <script src="<?php echo PUBLIC_ADMIN ?>js/bootstrap.min.js"></script>
  <script src="<?php echo PUBLIC_ADMIN ?>js/admin-scripts.js"></script>
  <script>
    $(function () {
    $(".last_td a:last-child").click(function () {
      console.log("{$vo.id}");
      var aa = confirm("确认删除吗");
      if (aa == false) {
        $(this).attr("href", "");
      }else{
        alert("删除成功");
      }
    })
  });
  </script>
</body>

</html>